.Header {
    background-color: #fff;
    box-shadow: 0 0 #0000, 0 0 #0000,
        0 0 #0000, 0 0 #0000,
        0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f;
    flex: 1 1 auto;
    height: var(--header-height);
    padding: 0 25px;
    display: flex;
    align-items: center;

    div.input__group {
        flex: 0 1 30%;
        display: flex;
        align-items: center;
        svg {
            color: rgba(0, 0, 0, 0.6);
            margin-right: 6px;
        }
        input {
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.6);
            padding: 5px 0;
        }
    }

    div.icons__section {
        flex: 0 1 70%;
        display: flex;
        justify-content: flex-end;

        svg {
            color: rgba(0, 0, 0, 0.6);
            margin-right: 6px;
            &:not(:last-of-type) {
                margin-right: 20px;
            }
        }
    }
}