div.Accordion {
    font-size: 14px;
    div.label {
        align-items: center;
        display: flex;
        justify-content: space-between;
        button {
            position: relative;
        }
    }

    div.content {
        overflow: hidden;
        transition: max-height 300ms ease-in;
        padding-left: 16px;
    }
}