div.Accordion {
    font-size: 14px;
    border: 1px solid black;
    div.label {
        align-items: center;
        display: flex;
        justify-content: space-between;
        button {
            position: relative;
        }
    }

    div.content {
        overflow-y: hidden;
        transition: height 250ms ease-in;
        padding-left: 16px;
    }
}