$padding: 10px 25px;
$font-size: 14px;
$color: rgba(0, 0, 0, 0.8);
$width: 310px;
$hidden-left: $width * -1;
$shown-left: 0px;

.Sidebar {
    background-color: #fff;
    box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 75%);
    min-height: 100vh;
    min-width: 0px;
    overflow: hidden;
    width: $width;
    @media(max-width: 768px) {
        // on mobile devices, the sidebar is fixed
        left: $width * -1;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    div.title {
        align-items: center;
        color: $color;
        display: flex;
        padding: 0px 25px;
        height: var(--header-height);
        justify-content: space-between;
        width: inherit;
        label {
            align-items: center;
            display: flex;
            svg {
                margin-right: 15px;
            }
            span {
                font-size: $font-size;
                font-weight: 300;
            }
        }
    }

    div.overflow__container {
        overflow-x: hidden;
        overflow-y: auto;
        width: inherit;
        height: calc(100vh - var(--header-height));
        @media (max-width: 768px) {
            height: calc(100vh + var(--header-height));
        }

        &::-webkit-scrollbar {
            width: 5px;
        }
        scrollbar-width: thin;
        &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.08);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.15);
            border-radius: 6px;
        }
    }

    div.search__box {
        align-items: center;
        background-color: #fff;
        display: flex;
        padding: 10px 0;
        position: sticky;
        top: 0;
        z-index: 10;
        svg {
            margin-right: 6px;
            transform: scaleX(-1);
        }
        input {
            padding: 4px 6px;
            flex: 1 1 100%;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.6);
        }
    }
}

// animation for standard devices
@media (min-width: 768px) {
    $sidebar-transition: flex 300ms ease-in-out;
    .sidebarEnter {
        flex: 0 1 0px;
    }
    
    .sidebarEnterActive {
        flex: 0 1 $width;
        transition: $sidebar-transition;
    }
    
    .sidebarEnterDone {
        flex: 0 1 $width;
    }
    
    .sidebarExit {
        // left: $shown-left;
        flex: 0 1 $width;
    }
    
    .sidebarExitActive {
        flex: 0 1 0px;
        transition: $sidebar-transition;
    }
    
    .sidebarExitDone {
        flex: 0 1 0px;
    }
}

// animation for mobile devices
@media (max-width: 768px) {
    $sidebar-transition: left 300ms ease-in-out;
    .sidebarEnter {
        left: $hidden-left;
    }
    
    .sidebarEnterActive {
        left: $shown-left;
        transition: $sidebar-transition;
    }
    
    .sidebarEnterDone {
        left: $shown-left
    }
    
    .sidebarExit {
        left: $shown-left;
    }
    
    .sidebarExitActive {
        left: $hidden-left;
        transition: $sidebar-transition;
    }
    
    .sidebarExitDone {
        left: $hidden-left;
    }
}
