div.UnitDetail {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
    padding: 20px;

    div.details {
        display: grid;
        grid-template-columns: 120px 1fr;
        column-gap: 20px;
        row-gap: 5px;
        figure {
            grid-row: span 2;

            border-radius: 4px;
            height: 120px;
            overflow: hidden;
            position: relative;
            width: 120px;
        }
        div[class~=main] {
            strong {
                font-weight: 400;
                color: #181c32;
            }
            div[class~=information] {
                margin: 12px 0;
                display: flex;
                color: #757575;
                @media (max-width: 700px) {
                    flex-direction: column;
                }
                div[class~=college] {
                    align-items: center;
                    color: var(--primary);
                    display: flex;
                    font-size: 14px;
                    font-weight: 500;
                    margin-right: 18px;
                    @media (max-width: 700px) {
                        margin-bottom: 12px;
                    }
                }

                div[class~=icon--label] {
                    align-items: center;
                    display: flex;
                    margin-right: 10px;
                    svg {
                        font-size: 22px;
                        margin-right: 10px;
                    }
                    span {
                        font-size: 13px;
                    }
                }
            }
        }
        div[class~=contact] {
            @media (max-width: 500px) {
                grid-column: span 2;
            }
            div[class~=key--value--pair] {
                display: flex;
                font-size: 12px;
                &:not(:first-of-type) {
                    margin-top: 5px;
                }
                div[class~=key] {
                    color: #3f4254;
                    font-weight: 600;
                    margin-right: 10px;
                }
                div[class~=value] {
                    color: #b5b5c3;
                }
            }
        }
    }
}